
  <h1>Penny</h1> 

  <div id = "search_form">
    <%= form_tag @penny, :url => pennies_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], :id => 'search_field' %>
        <%= submit_tag "Search", :name => nil,class: "btn btn-info" %> 
        <%= link_to "Clear", pennies_path %>
        <%= link_to "Download your Penny ads", pennies_path(format: "csv", search: params[:search]), class: "btn btn-primary" %>
    <% end %> 
  </div>



<table>
  <tr> 
    <td>Title</td>
    <td>Body</td>
    <td style="padding: 10px;">Number</td>
    <td style="padding: 10px;">Image</td>
  </tr> 



  <tr> 
    <% @pennys.each do |c| %> 
      <td><%=c.title%> </td>
      <td> <%=c.body%></td>
      <td><%=c.number %> </td>
      <td> <%=image_tag("#{c.image}")%> </td>
  </tr> 
  <% end %> 

</table>

